@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  font-size: 62.5%;
}

body {
  /* font-family: "Roboto Slab", serif; */
  font-family: "Poppins", sans-serif;
}

.home::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(22, 28, 45, 0.75);
}

.btn {
  background-color: #02aff3;
  color: #2b2b2b;
  border: 1px solid #000;
  border-radius: 2rem;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1.5rem 3rem;
  transition: all 0.3s ease-in-out;
  outline: none;
}

.btn:hover {
  background-color: transparent;
  color: #02aff3;
  border: 1px solid #02aff3;
}
